{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row shop-name mt-5">
            <div class="col-10 offset-1 text-center">
                <h1 class="logo-font text-blue mt-5">Welcome to Mai's Crafty Shop</h1>
                <h3 class="text-blue mb-3">
                    Highest Quality handmade gifts.
                    <br>
                    From my family to yours.
                </h3>
                <a href="{% url 'products' %}" class="btn btn-black rounded mt-3 hvr-grow"><h5>Visit the Shop!</h5></a>

            </div>            
        </div>
    </div>
{% endblock %}