{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 shop-name">

            <div class="w-50 mx-auto my-auto text-center d-md-block">
                <h1 class="display-4 logo-font text-blue">Welcome to Mai's Crafty Shop</h1>
                <h3 class="text-black mb-3">
                    Highest Quality handmade gifts.
                    <br>
                    From my family to yours.
                </h3>
                
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="to-shop-button btn btn-lg border rounded py-3 hvr-grow">Visit the Shop!</a>
                    </h4>
                </div>
            </div>            
        </div>
    </div>
{% endblock %}