{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 shop-name">

            <div class="w-50 mx-auto my-auto text-center d-none d-md-block">
                <h1 class="display-4 logo-font text-blue">Welcome to Mai's Crafty Shop</h1>
                <h3 class="text-black mb-3">
                    Thank you for visiting my little shop
                    <br>
                    where everything you see is hand crafted
                    <br>
                    so you can enjoy these products as much as I do.
                </h3>
                <h4 class="text-muted mb-3">
                    I promise the highest quality on all products.
                    <br>
                    From my family to yours.
                </h4>
                <div class="my-5">
                    <h4>
                        <a href="" class="to-shop-button btn btn-lg rounded py-3">Visit Shop!</a>
                    </h4>
                </div>
            </div>            
        </div>
    </div>
{% endblock %}