html {
    height: 100%;
}

body {
    background: url('/media/tetiana-shadrina-BgDvAapofe0-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #3f3a4f;
    font-family: 'Quicksand', sans-serif;
}

/* from BA & Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-weight: 600;
}

.main-logo-link {
    width: fit-content;
}

#main-logo {
    font-size: 1.5rem !important;
}

/*------BUTTONS------*/
.to-shop-button {
    background: #3f3a4f;
    color: white;
    font-weight: 600;
    min-width: 260px;
}

.btn-blue {
    background: #c8d5ea;
    color: #343a40;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: #343a40;
    color: #FFF;
}


.btn-black {
    background: black;
    color: white;
}

.btn-outline-blue {
    background:#fff;
    color: #3f3a4f !important;
    border: 1px solid gray; 
}


.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus {
    background: #c8d5ea;
    color: #3f3a4f;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-blue {
    color: #3f3a4f !important;
}

.text-black {
    color: #000 !important;
}
.border-gray {
    border: 1px solid gray !important;
}

/*----Discount banner------*/
#discount-banner-text {
    font-size: 1rem;
    color: #3f3a4f !important;
    font-weight: 800;
}

.bg-purple {
    background: #c8d5ea !important;
}

/*--------------Overlay - BA ------------------*/
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

/* ------- category badges ----------*/
a.category-badge > span.badge:hover {
    background: #c8d5ea;
    color: #3f3a4f;
}

/*---------Back to top arrow button ------------*/
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/*----Taken from stackoverflow to make all card-images same size---*/
.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ and CI(BA)*/
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap and CI (BA) */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-blue {
    background: #c8d5ea;
    color: #343a40;
}


/* Allauth form */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none !important;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Media Queries */


/* increase height vw for small and extra small screens to keep
images same size */
@media (max-width: 700px) {
    .card-img-top {
        width: 100%;
        height: 60vw;
        object-fit: cover;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}


/* reduce vw for images on xl screens */
@media (min-width: 1200px) {
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
}
