html {
    height: 100%;
}

body {
    background: url('/media/tetiana-shadrina-BgDvAapofe0-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #3f3a4f;
    font-family: 'Quicksand', sans-serif;
}

/* from BA & Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-weight: 600;
}

.main-logo-link {
    width: fit-content;
}

.to-shop-button {
    background: #3e6234 /* #c8d5ea #643e4d #42656a #3f3a4f #a58e96*/;
    color: white;
    font-weight: 600;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-blue {
    color: #3f3a4f !important;
}

.border-gray {
    border: 1px solid gray !important;
}

#discount-banner-text {
    font-size: 1rem;
    color: #3f3a4f !important;
    font-weight: 800;
}
.bg-purple {
    background: #c8d5ea !important;
}

/*--------------Overlay - BA ------------------*/
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

/*----Taken from stackoverflow to make all card-images same size---*/
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* increase height vw for small and extra small screens to keep
images same size */
@media (max-width: 700px) {
    .card-img-top {
        width: 100%;
        height: 60vw;
        object-fit: cover;
    }
}