<div class="collapse navbar-collapse" id="main-nav">
	<ul class="navbar-nav w-auto mx-auto">
		<li class="nav-item d-lg-none">
			<a class="logo-font font-weight-bold nav-link text-black hvr-grow mb-0 mr-5" href="#" id="mobile-search" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<div>
					<div><i class="fas fa-search hvr-grow"></i></div>
				</div>
			</a>
			<div class="dropdown-menu border-0 w-100 p-3 rounded my-0" aria-labelledby="mobile-search">
				<form class="form" method="GET" action="{% url 'products' %}">
					<div class="input-group w-100">
						<input class="form-control border rounded " type="text" name="q" placeholder="Search our shop">
						<div class="input-group-append">
							<button class="form-control btn btn-blue border rounded hvr-grow" type="submit">
								<span class="icon">
									<i class="fas fa-search fa-sm hvr-glow"></i>
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>		
        </li>
		<li> <hr> </li>

		<li class="nav-item d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mb-0 hvr-grow mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
	
		<li class="nav-item d-lg-none">
            <a class="logo-font font-weight-bold nav-link mr-5 hvr-grow" href="{% url 'posts' %}" id="all-posts-link">
                Blog
            </a>
			
        </li>
		<li> <hr> </li>
		
		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link mr-5 hvr-grow" href="#" id="all-products-link" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				All Products
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="all-products-link">
				<a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item ">By Name</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
				<a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>	
			</div>
		</li>
		<!-- Menu Dropdown: Jewellery -->
		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link mr-5 hvr-grow" href="#" id="jewellery-link" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Jewellery
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="all-jewellery-link">
				<a href="{% url 'products' %}?category=rings,earrings,necklaces,bracelets" class="dropdown-item">All Jewellery</a>
                <a href="{% url 'products' %}?category=rings" class="dropdown-item">Rings</a>
				<a href="{% url 'products' %}?category=earrings" class="dropdown-item">Earrings</a>
				<a href="{% url 'products' %}?category=necklaces" class="dropdown-item">Necklaces</a>
				<a href="{% url 'products' %}?category=bracelets" class="dropdown-item">Bracelets</a>
				
			</div>
		</li>
		<!-- Menu Dropdown:  -->
		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link mr-5 hvr-grow" href="#" id="wreath-link" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Wreaths
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="wreath-link">
                <a href="{% url 'products' %}?category=spring,summer,autumn,winter,occasions" class="dropdown-item">All Wreaths</a>
				<a href="{% url 'products' %}?category=spring" class="dropdown-item">Spring</a>
				<a href="{% url 'products' %}?category=summer" class="dropdown-item">Summer</a>
				<a href="{% url 'products' %}?category=autumn" class="dropdown-item">Autumn</a>
				<a href="{% url 'products' %}?category=winter" class="dropdown-item">Winter</a>
                <a href="{% url 'products' %}?category=occasions" class="dropdown-item">Occasions</a>
			</div>
		</li>
		<!-- Menu Dropdown: Candles -->
		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link mr-5 hvr-grow" href="#" id="candle-link" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Candles
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="candle-link">
				<a href="{% url 'products' %}?category=citrus,floral,fresh,fruity,woody,bookish" class="dropdown-item">All Candles</a>
                <a href="{% url 'products' %}?category=citrus" class="dropdown-item">Citrus</a>
                <a href="{% url 'products' %}?category=floral" class="dropdown-item">Floral</a>
                <a href="{% url 'products' %}?category=fresh" class="dropdown-item">Fresh</a>
                <a href="{% url 'products' %}?category=fruity" class="dropdown-item">Fruity</a>
                <a href="{% url 'products' %}?category=woody" class="dropdown-item">Woody</a>
                <a href="{% url 'products' %}?category=bookish" class="dropdown-item">Bookish</a>
			</div>
		</li>
		<!-- Menu Dropdown: Book Accessories -->
        <li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link mr-5 hvr-grow" href="#" id="book-link" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Books
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="book-link">
				<a href="{% url 'products' %}?category=sleeves,bookmarks,stickers,blind_date" class="dropdown-item">All Book accessories</a>
                <a href="{% url 'products' %}?category=sleeves" class="dropdown-item">Covers</a>
                <a href="{% url 'products' %}?category=bookmarks" class="dropdown-item">Bookmarks</a>    
                <a href="{% url 'products' %}?category=stickers" class="dropdown-item">Stickers</a>
                <a href="{% url 'products' %}?category=blind_date" class="dropdown-item">Blind Date Books</a>
			</div>
		</li>
       
	</ul>

</div>