{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="logo-font mb-4">Hello to my Workshop!</h2>
            </div>
            <div class="row">
                <div class="col-12 col-md-9 offset-md-2 text-center ">
                    <h6 class="blog-title"> Welcome to my blog, where I will post tutorial and crafting techniques of some of the items I handcraft so you can try 
                        make them yourself. I am looking forward to see what you create! 
                    </h6>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                {% if request.user.is_superuser %}
                <button class="btn btn-blue border rounded hvr-grow">
                    <a href="" class="text-blue add-post-button"><i class="fas fa-plus"></i>
                        Add New Post</a>
                </button>
                {% endif %}
            </div>
        </div>
       

{% endblock %}